<div class="center jumbotron">
  <h1>About</h1>

  <%= link_to "Home", articles_path, class: "btn btn-info" %>
</div>

<section class="center">
  <h2>
    Welcome to the About page!
  </h2>

  <p>
    If you are learning how to use your Fastly account, you can use this page to set up a Cache Setting that will PASS on this page.
  </p>

</section>
